<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
  </head>
  <body>
    <p>Dear Administrator,</p>
    <p>
      A ride has been published by an EZEPZE driver with the following details:
    </p>
    <ul>
      <li>User: <%= email %> Driver</li>
      <li>License Number: <%= license_number%></li>
      <li>Expiry Date: <%= expiry_date %></li>
    </ul>
    <p>Kindly review the attached driver's license for your approval.</p>
    <p>Thank you for your attention to this matter.</p>
    <p>Sincerely,</p>
    <p>EZEPZE</p>
  </body>
</html>
