<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #fff;
      }
      .container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #00081b;
      }
      .header {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .content {
        margin: 20px 0;
        text-align: center;
        background-color: #fff;
        padding: 10px;
      }
      .verification {
        padding: 10px 20px;
        width: auto; /* Adjusts width automatically based on content */
        border: 2px solid #1b1464; /* Solid or more pronounced border */
        border-radius: 10px;
        border-style: dashed;
        display: inline-block;
        font-family: "Courier New", monospace; /* Monospaced font for better readability */
        font-size: 20px; /* Larger font size */
        font-weight: bold; /* Bold font */
        text-align: center; /* Center align text */
      }

      .footer {
        padding: 10px;
        text-align: center;
        font-size: 12px;
      }
      .button {
        display: inline-block;
        padding: 10px 15px;
        margin: 10px auto;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }
      .mx-2 {
        margin: 0 20px;
      }
      .color-black {
        color: #000;
      }
      .footer-icons {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!-- Your logo goes here -->
        <img
          src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709298431/rideShare/IMG-20240228-WA0006_e750gw.jpg"
          alt="Logo"
          style="width: 80px"
        />
        <p id="currentDate"></p>
      </div>

      <div class="content">
        <h1 class="color-black">Dear <%= email %></h1>
        <p class="color-black">
          Thank you for choosing Ezepze Carpool | Rideshare for your
          transportation needs. We appreciate your trust in our services.
        </p>
        <p>
          To ensure the security of your account, we have generated a
          verification code for you. Please use the following code to complete
          the verification process:
        </p>
        <!-- Verification Link -->
        <p>Unique Verification Code:</p>
        <div class="verification">
          <strong class="color-black"> <%= verification_code %> </strong>
        </div>
        <p class="color-black">
          Please keep this code confidential to protect your account
          information.
        </p>
        <p class="color-black">
          If you did not request this code or have any concerns regarding your account security, please contact our customer support team immediately at Support@rudeshare.com
        </p>
        <p class="color-black">
          Thank you for choosing Ezepze Carpool | Rideshare. We look forward to providing you with a safe and efficient transportation experience.
        </p>
        <p>Best regards,</p>
        <p>EZPZE Carpool | Rideshare Team</p>
      </div>

      <div class="footer">
        <img
          src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709298431/rideShare/IMG-20240228-WA0006_e750gw.jpg"
          alt="Logo"
          style="width: 80px"
        />
        <p style="margin: 10px 0">
          &copy; <%= year %>  All right reserved
        </p>
        <!-- Social Media Icons -->
        <div class="footer-icons">
          <img
            src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294353/rideShare/ints_kuqvuk.png"
            alt="Instagram"
            class="mx-2"
          />
          <img
            src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294337/rideShare/fb_wj954y.png"
            alt="Facebook"
            class="mx-2"
          />
          <img
            src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294361/rideShare/link_ldbjza.png"
            alt="LinkedIn"
            class="mx-2"
          />
          <img
            src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294382/rideShare/twiiter_itgmmj.png"
            alt="Twitter"
            class="mx-2"
          />
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("currentDate").innerText =
          new Date().toLocaleDateString();
        var currentYearElements =
          document.getElementsByClassName("currentYear");
        for (var i = 0; i < currentYearElements.length; i++) {
          currentYearElements[i].innerText = new Date().getFullYear();
        }
      });
    </script>
  </body>
</html>
