<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Ride Share!</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
      }
      .header {
        background-color: #007bff;
        padding: 10px 20px;
        border-radius: 5px 5px 0 0;
      }
      .footer {
        text-align: center;
        font-size: 12px;
        color: #777;
        padding: 20px 10px;
      }
      .feature {
        padding: 20px;
        text-align: center;
      }
      .top-header {
        background-color: #000;
        border-radius: 20px;
      }
      .feature-icon {
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
      }
      .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
      }
      .icon {
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
      }
      .bg-black {
        margin-top: 10px;
        background-color: #000;
        border-radius: 20px;
        color: #fff;
      }
      .mx-2 {
        margin: 0 20px;
      }
      .footer-icons {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      /* Add more styles as needed */
    </style>
  </head>
  <body>
    <div class="container">
      <img
        src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709298431/rideShare/IMG-20240228-WA0006_e750gw.jpg"
        alt="Publish Ride"
        width="70px"
        style="margin-bottom: 20px"
      />
      <div class="top-header feature">
        <img
          src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294345/rideShare/Illustration_blmfjn.png"
          alt="Publish Ride"
          class="feature-icon"
        />
        <p style="color: #fff">
          Thank you for choosing EZPZE Carpool | Rideshare
        </p>
        <p>We are delighted to welcome you to our platform.</p>
      </div>
      <h2>Discover Our Premier Features</h2>

      <!-- <h2 style="text-align: center">Our Best Features</h2> -->
      <div class="feature flex bg-black">
        <img
          src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294375/rideShare/paper-plane_wxfzgp.png"
          alt="Add Driver to Favorite"
          width="50"
          height="50"
          class="icon"
        />
        <div>
          <h2>Share your Journey</h2>
          <p>
            Utilize the "Publish Ride" feature to effortlessly broadcast your
            upcoming trips, whether it's a road trip, a bike adventure, or any
            other exciting travel plan.
          </p>
        </div>
      </div>
      <div class="feature flex bg-black">
        <div>
          <h2>Join Ride; Effortless Connections</h2>
          <p>
            Seamlessly link up with drivers providing rides and passengers
            seeking economical and environmentally conscious transportation,
            promoting community and convenience.
          </p>
        </div>
        <img
          src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294319/rideShare/connect_z60aun.png"
          alt="Add Driver to Favorite"
          width="50"
          height="50"
          class="icon"
        />
      </div>
      <div class="feature flex bg-black">
        <img
          src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294328/rideShare/favorite_nwxfj7.png"
          alt="Add Driver to Favorite"
          width="50"
          height="50"
          class="icon"
        />
        <div>
          <h2>Personalized Experience & Add Driver to Favorite</h2>
          <p>
            The "Add Driver to Favorites" feature is tailored to enhance your
            platform experience, enabling easy personalization for rideshare
            users, delivery recipients, and anyone wishing to preserve specific
            drivers for future interactions.
          </p>
        </div>
      </div>

      <div class="footer">
        <div class="footer-icons">
          <img
            src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294353/rideShare/ints_kuqvuk.png"
            alt="Instagram"
            class="mx-2"
            />
            <img
            src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294337/rideShare/fb_wj954y.png"
            alt="Facebook"
            class="mx-2"
            />
            <img
            src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294361/rideShare/link_ldbjza.png"
            alt="LinkedIn"
            class="mx-2"
            />
            <img
            src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294382/rideShare/twiiter_itgmmj.png"
            alt="Twitter"
            class="mx-2"
            />
          </div>
          <p>
            Welcome aboard, and we look forward to providing you with a seamless
          and enjoyable rideshare experience.
        </p>
        <p>
          For any inquiries, please don't hesitate to reach out to us at
          support@EZPZE.com. To manage your email preferences or unsubscribe,
          kindly use the provided options.
        </p>
      </div>
      <p>© <%= year  %> EZPZE. All rights reserved.</p>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
            var currentYearElements = document.getElementsByClassName("currentYear");
    for (var i = 0; i < currentYearElements.length; i++) {
        currentYearElements[i].innerText = new Date().getFullYear();
    }
      });
    </script>
  </body>
</html>
