<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Ride Share!</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #ffffff;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }
    .container {
        max-width: 600px;
        margin: 20px auto;
        background: #000000;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: #fff;
      }
      .header {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px 5px 0 0;
      }
      .footer {
        text-align: center;
        font-size: 12px;
        color: #777;
        padding: 20px 10px;
      }
      .feature {
        padding: 20px;
        text-align: center;
      }
      .feature-icon {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
      }
      /* Add more styles as needed */
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Welcome to Ride Share,</h1>
      </div>

      <div class="feature">
        <img
          src="publish_ride_icon.png"
          alt="Publish Ride"
          class="feature-icon"
        />
        <h2>Publish Ride</h2>
        <p>
          With the "Publish Ride" feature, you can easily share your upcoming
          journey with a wide audience.
        </p>
      </div>

      <div class="feature">
        <img src="join_ride_icon.png" alt="Join Ride" class="feature-icon" />
        <h2>Join Ride</h2>
        <p>
          Seamlessly connect drivers offering rides with passengers seeking
          cost-effective and eco-friendly transportation.
        </p>
      </div>

      <div class="feature">
        <img
          src="add_driver_icon.png"
          alt="Add Driver to Favorite"
          class="feature-icon"
        />
        <h2>Add Driver to Favorite</h2>
        <p>
          Our "Add Driver to Favorites" feature is designed to provide you with
          a seamless and convenient way to personalize your experience.
        </p>
      </div>

      <div class="footer">
        <p>© 2023 Ride Share. All rights reserved.</p>
        <p>
          If you have any questions, feel free to message us at
          RideShare@email.com.
        </p>
      </div>
    </div>
  </body>
</html>
